{{#each newsItems}}

<div class="well well-sm">
    <div class="container-fluid">

            <div class="row headline">
                <div class="newsWrapper col-sm-9">
                  <a target="_blank" href= {{link}}><h4>{{title}}</h4></a>
                  <p>{{summary}}</p>
                </div>
                <div class="imgWrapper col-sm-3">
                  <img src="{{imgSrc}}" alt="">
                </div>


                <div class="col-sm-12">
                    <p class="text-muted pull-right" id="showComments"><u>Show Comments</u></p>
                </div>
            </div>
            <div class="row">
                <form class="" action="/postComments/{{_id}}" method="post">
                    <!-- //  <div class="form-group"> -->
                    <div class="col-sm-12 input-comment">
                         <input class="form-control" type="text" name="text" placeholder="Write a comment" value="">

                    </div>

                </form>
            </div>

            <div class="row">
                <div class="comments col-sm-12">
                    <table class="table">
                        <tbody>
                           {{#each comment}}
                            <tr>
                                <td>{{text}}</td>
                                <td><button data-comment-id={{_id}} class="btn-danger btn-xs" type="button" name="button"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                           {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
{{/each}}
