{{#each newsItems}}

    <div class="well well-sm">
        <div class="container-fluid">

            <div class="row headline">
                <div class="newsWrapper col-sm-9">
                    <a target="_blank" href= {{link}}><h4>{{title}}</h4></a>
                    <p>{{summary}}</p>
                </div>
                <div class="imgWrapper col-sm-3">
                    <img src="{{imgSrc}}" alt="">
                </div>


                <div class="col-sm-12 link">
                    <button data-news-id="{{_id}}" type="button" class="btn btn-link pull-right showComments">Show Comments</button>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="" action="/postComments/{{_id}}" method="post">
                        <!-- //  <div class="form-group"> -->
                        <div class="input-comment">
                            <input class="form-control" type="text" name="text" placeholder="Write a comment.." value="">

                        </div>

                    </form>
                </div>

            </div>

            <div class="comments table-responsive"  id="commentTable_{{_id}}">
                <table class="table" data-news-id="{{_id}}">
                    <tbody>
                        {{#each comment}}
                            <tr>
                                <td class="col-sm-11">{{text}}</td>
                                <td class="col-sm-1"><button  data-comment-id= {{_id}} class="btn btn-xs btn-danger deleteComment" type="button" name="button"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/each}}
